asgiref==3.11.1
crispy-bootstrap5==2025.6
Django==5.2.11
django-allauth==65.14.1
django-crispy-forms==2.5
django-environ==0.12.0
django-htmx==1.27.0
gunicorn==25.0.3
packaging==26.0
psycopg==3.3.2
psycopg-binary==3.3.2
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise==6.11.0
