<table class="table table-striped">
    <thead>
        <tr>
            <th>Agreement No</th>
            <th>Status</th>
            <th>Settlement Amount</th>
            <th>Start Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for compromise in account.compromise_agreements.all %}
        <tr>
            <td>{{ compromise.agreement_no }}</td>
            <td><span class="badge bg-primary">{{ compromise.get_status_display }}</span></td>
            <td>{{ compromise.settlement_amount }}</td>
            <td>{{ compromise.start_date|date:"Y-m-d" }}</td>
            <td>
                <a href="{% url 'remedial:compromise-detail' compromise.pk %}" class="btn btn-sm btn-info">View</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No compromise agreements found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
